/*
Theme Name: Kelly
Theme URI: http://wordpress.com/themes/kelly/
Description: A clean and simple responsive blogging theme with lots of room for your photos.
Version: 1.0.6
Author: Automattic
Author URI: http://wordpress.com/themes/
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: kelly
Tags: blog, custom-background, custom-colors, custom-header, custom-menu, one-column, photography, post-formats, rtl-language-support, translation-ready
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Reset
2.0 - Global
3.0 - Menu
4.0 - Content
5.0 - Post Formats
6.0 - Media
7.0 - Navigation
8.0 - Comments
9.0 - Widgets
10.0 - Infinite Scroll
11.0 - Header
12.0 - Footer
13.0 - Galleries
14.0 - Media Queries
--------------------------------------------------------------*/


/* 1.0 - Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust:     100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
body {
	background: #fff;
}
*,
*:before,
*:after { /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
	-webkit-box-sizing: border-box; /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
	-moz-box-sizing:    border-box; /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
	box-sizing:         border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}
ol, ul {
	list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active { /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
	outline: 0;
}
a img {
	border: 0;
}


/* 2.0 Global
----------------------------------------------- */

body,
button,
input,
select,
textarea {
	color: #5f6d80;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: 900;
	margin: .75em 0;
	text-align: center;
}
h1 {
	font-size: 2.625em;
}
h2 {
	font-size: 1.625em;
}
h3 {
	font-size: 1.25em;
}
h4 {
	font-size: 1em;
}
h5 {
	font-size: .8125em;
	text-transform: uppercase;
}
h6 {
	font-size: .8125em;
}
hr {
	background-color: #eee;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/* Text elements */
p {
	margin-bottom: 1.5em;
}
ul, ol {
	margin: 0 0 1.5em 3em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	border-left: 8px solid #f1f2f3;
	font-weight: 500;
	font-size: .8125em;
	padding: 0 1.5em;
}
blockquote blockquote {
	font-size: inherit;
}
address {
	margin: 0 0 1.5em;
}
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.5em;
	max-width: 100%;
	overflow: auto;
	padding: 1.5em;
}
code, kbd, tt, var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
figure {
	margin: 0;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
caption {
	font-weight: 900;
}
td {
	border-bottom: 1px solid #eee;
	padding: .375em;
}
th {
	border-bottom: 3px solid #eee;
	font-weight: bold;
	padding: .375em;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	*vertical-align: middle; /* Improves appearance and consistency in all browsers */
}
button,
input {
	line-height: normal; /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 0;
	border-radius: 3px;
	background: #f35955;
	color: #fff;
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: .8125em;
	line-height: 1;
	padding: .75em 1.5em;
}
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background: #f3835d;
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* Addresses box sizing set to content-box in IE8/9 */
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	border: 1px solid #dae0e8;
	border-radius: 3px;
	color: #666;
	display: inline-block;
	font-size: .8125em;
	outline: none;
	padding: .55em;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	border: 1px solid #cad3df;
	color: #111;
	outline: none;
}
textarea {
	border: 1px solid #dae0e8;
	border-radius: 3px;
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 98%;
}

/* Links */
a {
	color: #f35955;
	text-decoration: none;
}
a:visited {
	color: #f3835d;
}
a:hover,
a:focus,
a:active {
	color: #f3835d;
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin: .75em 1.5em .75em 0;
}
.alignright {
	display: inline;
	float: right;
	margin: .75em 0 .75em 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: .75em auto;
}
.alignnone {
	margin: .75em;
}

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 0.875em;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: .75em 1.5em;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* Clearing */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: '';
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/* 3.0 - Menu
----------------------------------------------- */

.main-navigation {
	background: rgba(10,167,147,0.75);
	clear: both;
	display: block;
	text-align: left;
	position: relative;
	width: 100%;
	z-index: 2;
}
.main-navigation ul {
	display: block;
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
}
.main-navigation ul ul {
	background: transparent;
	display: block;
	margin-left: 0;
}
.main-navigation ul ul a {
	padding-left: 1.5em;
}
.main-navigation ul ul ul a {
	padding-left: 3em;
}
.main-navigation ul ul ul ul a {
	padding-left: 4.5em;
}
.main-navigation div > ul:first-child {
	margin-left: 0;
}
.main-navigation a {
	border-bottom: 1px solid #109987;
	color: #eaedf1;
	display: block;
	padding: .75em;
	text-decoration: none;
}
.main-navigation a:hover {
	color: #8fded3;
}
.main-navigation li.current_page_item a,
.main-navigation li.current-menu-item a {
	color: #8fded3;
}

/* Small menu */
.menu-toggle {
	cursor: pointer;
	display: none;
}

@media screen and (max-width: 750px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}
	.menu-toggle {
		background: rgba(10,167,147,0.75);
		color: #fff;
		font-size: 1.25em;
		margin: 0;
		padding: 0.375em 0;
		position: relative;
		z-index: 2;
	}
	.main-navigation ul {
		display: none;
	}
}


/* 4.0 - Content
----------------------------------------------- */

.site-content {
	padding-top: 1.5em;
}
.sticky {
}
.hentry {
	background: #fff;
	border-bottom: 2px solid #f1f2f3;
	margin: 0 0 1.5em;
	padding: 3em 1.5em;
	text-align: center;
}
.entry-header {
	text-align: center;
}
.entry-title,
.page-title {
	font-size: 1.625em;
	font-weight: 900;
	margin: 0;
}
.entry-title a,
.entry-title a:visited,
footer.entry-meta .comments-link a,
footer.entry-meta .comments-link a:visited {
	color: #f35955;
}
.entry-title a:hover,
footer.entry-meta .comments-link a:hover {
	color: #f3835d;
}
.entry-content {
	font-weight: 300;
	padding-bottom: 1.5em;
	text-align: left;
}
.comment-content {
	font-weight: 300;
	text-align: left;
}
.entry-image {
	margin: 0 0 1.5em;
}
.entry-meta {
	color: #abbbc0;
	font-size: 0.8125em;
	margin: 0.375em 0;
	text-align: center;
}
.entry-meta a,
.entry-meta a:visited {
	color: #0fb39e;
}
.entry-meta a:hover {
	color: #04796a;
}
footer.entry-meta {
	border-top: 1px solid #efefef;
	display: inline-block;
	margin-top: 1.5em;
	padding-top: 1.5em;
}
footer.entry-meta span {
	clear: both;
	display: block;
	margin: 0 auto;
	padding: .375em 0;
}
footer.entry-meta span:last-child {
	margin-right: 0;
}
footer.entry-meta .comments-link {
	font-weight: 600;
}
.byline,
.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.comment-content,
.entry-summary {
	margin: 1.5em 0 0;
}
.format-image .entry-content img {
	display: block;
	margin: 0 auto;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.page-title {
	color: #abbbc0;
	margin: .75em 1.5em;
}


/* 5.0 - Post Formats
----------------------------------------------- */

.format-link .entry-title a:after {
	content: "\f442";
	display: inline-block;
	font-family: Genericons;
	font-size: 28px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	margin-left: 7px;
	text-decoration: none;
	vertical-align: text-bottom;
	-webkit-font-smoothing: antialiased;
}
.entry-format:before {
	content: "";
	display: inline-block;
	font-family: Genericons;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	margin-right: 5px;
	text-decoration: none;
	vertical-align: bottom;
	-webkit-font-smoothing: antialiased;
}
.format-gallery .entry-format:before {
	content: "\f103";
}
.format-aside .entry-format:before {
	content: "\f101";
}
.format-image .entry-format:before {
	content: "\f102";
}
.format-link .entry-format:before {
	content: "\f107";
}
.format-video .entry-format:before {
	content: "\f104";
}
.format-quote .entry-format:before {
	content: "\f106";
}


/* 6.0 - Media
----------------------------------------------- */

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.wp-caption {
	border: 1px solid #eee;
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}
.wp-caption-text {
	font-size: 0.8125em;
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.75em 0;
}
.site-main .gallery {
	margin-bottom: 1.5em;
}
.gallery-caption {
}
.site-main .gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}
.site-main .gallery dd {
	margin: 0;
}
.site-main .gallery-columns-4 .gallery-item {
}
.site-main .gallery-columns-4 .gallery-item img {
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
	margin-left: auto !important;
	margin-right: auto !important;
	display: block;
}


/* 7.0 - Navigation
----------------------------------------------- */

.site-main [class*="navigation"] {
	margin: 0 0 1.5em;
	overflow: hidden;
	padding: 0 1.5em;
}
[class*="navigation"] .nav-previous {
	float: left;
	width: 50%;
}
[class*="navigation"] .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}


/* 8.0 - Comments
----------------------------------------------- */

.bypostauthor {}
.comment-content a {
	word-wrap: break-word;
}
.logged-in-as {
	text-align:center;
}
.form-allowed-tags,
.form-allowed-tags code {
	font-size: 0.8125em;
}
.comments-area {
	padding: 0 1.5em;
}
.comments-area ul.children {
	margin-left: 1.5em;
}
.comments-title {
	font-size: 1.25em;
	font-weight: bold;
	margin: 1.5em auto;
}
.comment-list {
	list-style-type: none;
	margin: 0 0 3em;
}
.children {
	list-style-type: none;
}
.comment-body {
	border-bottom: 1px solid #eee;
	padding: 1.5em 0;
}
.comment-author .avatar {
	float: left;
	margin-right: .75em;
}
.comment-author {
	color: #13bca6;
}
.comment-reply-link {
	border-radius: 3px;
	background: #dae0e8;
	color: #5f6d80;
	font-size: 0.8125em;
	margin: 0 0 1.5em;
	padding: .375em .75em;
}
.comment-metadata a,
.comment-metadata a:visited {
	font-size: 0.8125em;
	color: #a6aeb8;
}
.comment-metadata span:before {
	color: #a6aeb8;
	content: " | ";
	display: inline-block;
	font-size: .8125em;
	margin: 0;
	padding: 0 .375em;
	vertical-align: baseline;
}
.no-comments {
	color: #a6aeb8;
	font-style: italic;
	text-align: center;
}
#respond h3 {
	font-family: 'Open Sans', sans-serif;
}


/* 9.0 - Widgets
----------------------------------------------- */

.widget-areas {
	background: #dae0e8;
}
.widget-areas .widget-area:nth-child(1):nth-last-child(2),
.widget-areas .widget-area:nth-child(2):nth-last-child(1) {
	clear: both;
	width: 100%;
	margin-right: 0;
}
.widget-areas .widget-area:nth-child(1):nth-last-child(3),
.widget-areas .widget-area:nth-child(2):nth-last-child(2),
.widget-areas .widget-area:nth-child(3):nth-last-child(1) {
	clear: both;
	width: 100%;
	margin-right: 0;
}
.widget {
	box-sizing: border-box;
	display: block;
	margin: 0 auto;
	overflow: hidden;
	padding: 1.5em;
	word-wrap: break-word;
}
.widget:not(.widget_text) ul {
	list-style-type: none;
}
.widget:not(.widget_text) > ul {
	margin-left: 0;
}
.widget:not(.widget_text) ul li {
	padding-top: .75em;
}
.widget .widget-title {
	font-size: 1.25em;
	font-weight: 600;
	text-align: left;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
.widget_search form {
	position: relative;
}
.widget_search .search-field {
	border: 0;
	display: block;
	height: 35px;
	padding: 0 0.75em;
	width: 93%;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.widget_search .search-submit {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	display: block;
	line-height: 1;
	height: 35px;
	padding: 0 .925em;
	position: absolute;
		right: 0;
		top: 0;
}

/* Calendar */
.widget_calendar caption,
.widget_calendar th {
	border-color: #9da7b4;
	text-align: center;
}
.widget_calendar td {
	border-color: #9da7b4;
}
td#next {
	text-align: right;
}


/* 10.0 - Infinite Scroll
----------------------------------------------- */

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}
#infinite-footer .container {
	background: #fff;
	border: none;
}
#infinite-footer .blog-credits,
#infinite-footer .blog-credits a,
#infinite-footer .blog-credits a:hover,
#infinite-footer .blog-info a,
#infinite-footer .blog-info a:hover {
	color: #abbbc0;
}
#infinite-handle {
	min-height: 35px;
	padding: 1.5em 0 3em;
	text-align: center;
}
#infinite-handle span {
	background: #f35955;
	border-radius: 3px;
	padding: .75em 1.5em;
	color: #fff;
}
#infinite-handle span:hover {
	background: #f3835d;
	color: #fff;
}
.infinite-loader {
	margin: 0 auto 3em;
	padding: 1.5em 0 1.55em;
	width: 34px;
}
.jetpack-video-wrapper {
	margin-bottom: 1.5em;
}


/* 11.0 - Header
----------------------------------------------- */

.site-header {
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 1.5em;
	position: relative;
	text-align: center;
}
.header-background {
	background: rgba(6,156,136,0.75);
	display: block;
	opacity: 0.9;
	position: absolute;
		top: 0;
		left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}
.site-branding {
	position: relative;
	z-index: 2;
}
.site-title {
	font-family: 'Leckerli One', cursive;
	font-size: 2.625em;
	font-weight: 500;
	line-height: 1.25;
	margin: 0 0.575em;
	max-width: 90%;
}
.site-title a {
	color: #93dfd5;
}
.site-description {
	color: #0a6a5e;
	font-size: .8125em;
	font-weight: normal;
	margin: 0 1.875em;
	max-width: 90%;
	padding-bottom: 1.5em;
}
.has-header .site-description {
	color: #fff;
}


/* 12.0 - Footer
----------------------------------------------- */

.site-footer {
	background: #5f6d80;
	color: #1d3037;
	font-size: .8125em;
	padding: 1.5em;
	text-align: center;
}
.site-footer a,
.site-info {
	color: #9da7b4;
}
.site-footer .sep {
	clear: both;
	display: block;
	height: 1px;
	visibility: hidden;
	width: 100%;
}
.site-footer a:hover,
.site-footer a:visited {
	color: #dae0e8;
}


/* 13.0 - Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}
.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}
.gallery-columns-2 .gallery-item {
	max-width: 50%;
}
.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
	max-width: 25%;
}
.gallery-columns-5 .gallery-item {
	max-width: 20%;
}
.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}


/* 14.0 - Media Queries
----------------------------------------------- */
@media screen and ( min-width: 750px ) {
	.site-branding,
	.menu,
	.site-info,
	.entry-header,
	.entry-content,
	.entry-meta,
	#nav-below.paging-navigation,
	#nav-below.post-navigation,
	.comments-area,
	.widget-areas-inner,
	.page-header {
		margin-left: auto;
		margin-right: auto;
		max-width: 720px;
	}
	.widget-areas .widget-area:nth-child(1):nth-last-child(1) {
		width: 100%;
	}
	.widget-areas .widget-area:nth-child(1):nth-last-child(2),
	.widget-areas .widget-area:nth-child(2):nth-last-child(1) {
		clear: none;
		margin-right: 6%;
		width: 45%;
	}
	.widget {
		padding-left: 0;
		padding-right: 0;
	}
	.widget-area {
		float: left;
	}
	.widget-areas .widget-area:nth-child(1):nth-last-child(2):last-of-type,
	.widget-areas .widget-area:nth-child(2):nth-last-child(1):last-of-type {
		margin-right: 0;
	}
	.widget-areas .widget-area:nth-child(1):nth-last-child(3),
	.widget-areas .widget-area:nth-child(2):nth-last-child(2),
	.widget-areas .widget-area:nth-child(3):nth-last-child(1) {
		clear: none;
		margin-right: 5%;
		width: 30%;
	}
	.widget-areas .widget-area:nth-child(1):nth-last-child(3):last-of-type,
	.widget-areas .widget-area:nth-child(2):nth-last-child(2):last-of-type,
	.widget-areas .widget-area:nth-child(3):nth-last-child(1):last-of-type {
		margin-right: 0;
	}
	.main-navigation {
		text-align: center;
	}
	.main-navigation ul {
		padding: .75em 0;
	}
	.main-navigation li {
		display: inline-block;
		margin-right: 1.5em;
		position: relative;
	}
	.main-navigation a {
		border: 0;
		font-size: 0.8125em;
		padding: .375em 0;
	}
	.main-navigation ul ul {
		background: #018e7c;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		display: none;
		float: left;
		left: 0;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 0;
		position: absolute;
		top: 1.875em;
		z-index: 99999;
	}
	.main-navigation ul ul li {
		margin-right: 0;
	}
	.main-navigation ul ul ul {
		padding-left: 0;
		left: 100%;
		top: 0;
	}
	.main-navigation ul ul a,
	.main-navigation ul ul ul a,
	.main-navigation ul ul ul ul a {
		border-bottom: 1px solid #109987;
		padding-left: 1.5em;
	}
	.main-navigation ul ul a {
		padding: .75em 1.5em;
		text-align: left;
		width: 200px;
	}
	.main-navigation ul li:hover > ul,
	.main-navigation ul li.focus > ul {
		display: block;
	}
	.entry-content,
	.comment-content {
		font-size: 1.25em;
	}
	.entry-meta {
		font-size: 1em;
	}
	.hentry {
		margin-left: 1.5em;
		margin-right: 1.5em;
	}
	.entry-title,
	.page-title {
		font-size: 1.9em;
	}
	footer.entry-meta span {
		clear: none;
		display: inline-block;
		margin-right: 1.5em;
		padding: .375em 0;
	}
	footer.entry-meta span:last-child {
		margin-right: 0;
	}
	.comments-title {
		font-size: 1.625em;
	}
	.site-footer .sep {
		clear: none;
		display: inline-block;
		height: auto;
		visibility: visible;
		width: auto;
	}
	.comments-area ul.children {
		margin-left: 3em;
	}
	.format-link .entry-title a:after {
		font-size: 36px;
	}
	.has-header .site-branding {
		padding: 1.5em 0;
	}
	.entry-format:before {
		font-size: 24px;
	}
}
@media screen and ( min-width: 1250px ) {
	.site-branding,
	.menu,
	.site-info,
	.entry-header,
	.entry-content,
	.entry-meta,
	#nav-below.paging-navigation,
	#nav-below.post-navigation,
	.comments-area,
	.widget-areas-inner,
	.page-header {
		max-width: 1200px;
	}
	.site-title {
		font-size: 4.6em;
		margin: 0 auto;
		max-width: 100%;
	}
	.site-description {
		font-size: 1em;
		margin: 0 auto;
		max-width: 100%;
	}
	.main-navigation a {
		font-size: 1em;
	}
	.widget_search .search-submit {
		display: none;
	}
	.widget_search .search-field {
		border-radius: 3px;
		margin: 0 auto;
		padding-top: .75em;
		padding-bottom: .75em;
	}
	.entry-content,
	.comment-content {
		font-size: 1.625em;
	}
	.entry-meta {
		font-size: 1.25em;
	}
	.entry-title,
	.page-title {
		font-size: 2.625em;
	}
	.comments-title {
		font-size: 1.9em;
	}
	.format-link .entry-title a:after {
		font-size: 48px;
	}
	.has-header .site-branding {
		padding: 6em 0 1.5em;
	}
}