/*
Theme Name: Orvis
Theme URI: http://wordpress.com/themes/orvis/
Description: Orvis is a portfolio theme crafted with designers and photographers in mind. It's a minimalist, powerful, and flexible theme that puts the focus on your projects.
Version: 1.1.3
Author: Automattic
Author URI: http://wordpress.com/themes/
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: orvis
Tags: custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, flexible-header, grid-layout, photography, portfolio, right-sidebar, rtl-language-support, sticky-post, theme-options, translation-ready, two-columns

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Orvis is based on Underscores http://underscores.me/, (C) 2012-2018 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Layout
# Navigation
	## Links
	## Main Navigation
	## Pagination
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Custom Logo
	## Posts & Pages
	## Comments
# Media
	## Captions
	## Galleries
# Jetpack
	## Contact Form
	## Galleries
	## Infinite Scroll
	## PollDaddy
	## Portfolio
	## Recipes
	## Responsive Videos
	## Sharedaddy
	## Social Menu
	## Widgets
# Eventbrite
# Responsive
	## x >= 600px
	## x >= 768px
	## x >= 896px
	## x >= 1020px
	## x >= 1344px
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: 700;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

hr {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

code,
kbd,
pre,
samp {
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

select {
	text-transform: none;
}

button {
	overflow: visible;
}

button,
input,
select,
textarea {
	max-width: 100%;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
	opacity: .5;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 0.4375em;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 2px solid;
	margin: 0 0 24px;
	padding: 24px;
}

fieldset > :last-child {
	margin-bottom: 0;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #fff;
	font-family: Karla, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

select {
	color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
.site-title {
	clear: both;
	font-family: Karla, sans-serif;
	font-weight: bold;
	margin: 0 0 24px;
}

h1,
.entry-title,
.page-title {
	font-size: 40px;
	line-height: 1.2;
}

h2 {
	font-size: 32px;
	line-height: 1.125;
}

h3,
.site-title {
	font-size: 25px;
	line-height: 1.2;
}

h4,
.comment-reply-title,
.comments-title,
.no-comments,
.widgettitle,
.widget-title {
	font-size: 20px;
	line-height: 1.5;
}

h5,
.comment-reply-title small {
	font-size: 16px;
	line-height: 1.5;
}

h6 {
	font-size: 13px;
	line-height: 1.3847;
}

.site-title {
	margin-bottom: 0;
}

.site-description {
	color: #a0a0a0;
	display: none;
	font-size: 13px;
	line-height: 1.3847;
	margin-bottom: 0;
	margin-top: 6px;
}

.site-footer {
	font-size: 13px;
	line-height: 1.3847;
}

p {
	margin: 0 0 24px;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	border-left: 4px solid #202020;
	color: #a0a0a0;
	font-size: 20px;
	font-style: italic;
	line-height: 1.5;
	margin: 0 0 24px;
	padding-left: 24px;
}

blockquote p {
	margin-bottom: 12px;
}

blockquote cite,
blockquote small {
	color: #fff;
	display: block;
	font-size: inherit;
	font-style: normal;
}

address {
	margin: 0 0 24px;
}

code,
pre,
kbd,
tt,
var {
	background: #202020;
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	padding: 0 0.25em;
}

pre {
	margin-bottom: 24px;
	max-width: 100%;
	overflow: auto;
	padding: 24px;
}

abbr,
abbr[title],
acronym {
	border-bottom: 2px dotted;
	cursor: help;
}

mark,
ins {
	background: #a0a0a0;
	color: #303030;
	padding: 0 0.25em;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background: #303030;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background: #fff;
	border: 0;
	height: 2px;
	margin-bottom: 24px;
}

ul,
ol {
	margin: 0 0 24px 1.25em;
	padding: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 24px;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 24px 24px;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

table,
th,
td {
	border: 2px solid;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 2px 0 0 2px;
	margin: 0 0 24px;
	table-layout: fixed;
	width: 100%;
}

th {
	border-width: 0 2px 2px 0;
}

td {
	border-width: 0 2px 2px 0;
}

th,
td {
	padding: 0.25em;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: transparent;
	border: 2px solid;
	border-radius: 0;
	color: #fff;
	padding: 4px 10px;
}

button:focus,
button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover {
	border-color: #a0a0a0;
	color: #a0a0a0;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
	outline: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	background: #fff;
	border: 2px solid #fff;
	border-radius: 0;
	color: #303030;
	padding: 4px 10px;
	width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	background: transparent;
	color: #fff;
	outline: 0;
}

/* Placeholder */
::input-placeholder {
	color: #a0a0a0;
}

::-webkit-input-placeholder {
	color: #a0a0a0;
}

:-moz-placeholder {
	color: #a0a0a0;
	opacity: 1;
}

::-moz-placeholder {
	color: #a0a0a0;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #a0a0a0;
}

/* Search */
.search-field,
.search-submit {
	margin-bottom: 24px;
}

/* Password Protected */
.post-password-form input[type="submit"] {
	margin-top: 24px;
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
#page {
	margin: 0 auto;
	width: 90%;
	width: calc(100% - 48px);
}

.site-header {
	margin: 0 0 24px;
}

.main-navigation,
.site-branding {
	margin-top: 24px;
}

.site-header-wrapper {
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.site-branding {
	margin-left: 0;
	margin-right: auto;
	padding-right: 24px;
}

.site-footer {
	color: #a0a0a0;
	padding: 0 0 24px;
}

.site-footer:before {
	background: #202020;
	content: "";
	display: block;
	height: 4px;
	margin-bottom: 24px;
	width: 24px;
}

.site-info .sep:before {
	background: currentcolor;
	content: "";
	display: inline-block;
	height: 2px;
	margin: 0 0.125em;
	vertical-align: middle;
	width: 12px;
}

.header-image {
	display: block;
	margin-top: 24px;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #fff;
	text-decoration: none;
}

a:visited {
	color: inherit;
}

a:active,
a:focus,
a:hover {
	color: #a0a0a0;
	outline: 0;
}

.comment-content a,
.comment-reply-title a,
.entry-content a,
.logged-in-as a,
.page-content a,
.pingback a,
.trackback a,
.widget-area a {
	box-shadow: 0 2px 0 0;
}

.comment-content a:focus,
.comment-content a:hover,
.comment-reply-title a:focus,
.comment-reply-title a:hover,
.entry-content a:focus,
.entry-content a:hover,
.logged-in-as a:focus,
.logged-in-as a:hover,
.page-content a:focus,
.page-content a:hover,
.pingback a:focus,
.pingback a:hover,
.trackback a:focus,
.trackback a:hover,
.widget-area a:focus,
.widget-area a:hover {
	box-shadow: none;
}

.comment-metadata a,
.entry-footer a,
.entry-meta a,
.portfolio-entry-meta a,
.site-footer a {
	color: #a0a0a0;
}

.comment-metadata a:focus,
.comment-metadata a:hover,
.entry-footer a:focus,
.entry-footer a:hover,
.entry-meta a:focus,
.entry-meta a:hover,
.fn a:focus,
.fn a:hover,
.jp-relatedposts-post-a:focus,
.jp-relatedposts-post-a:hover,
.portfolio-entry-meta a:focus,
.portfolio-entry-meta a:hover,
.site-footer a:focus,
.site-footer a:hover {
	box-shadow: 0 2px 0 0;
}

.entry-title a:focus,
.entry-title a:hover,
.portfolio-entry-title a:focus,
.portfolio-entry-title a:hover,
.site-title a:focus,
.site-title a:hover {
	color: #fff;
	box-shadow: 0 2px 0 0;
}

.PDS_Poll a,
.portfolio-entry-meta a,
.portfolio-entry-title a,
.svg a,
.widget_archive a,
.widget_categories a,
.widget_goodreads a,
.widget_jetpack_display_posts_widget .jetpack-display-remote-posts h4 a,
.widget_links a,
.widget_meta a,
.widget_nav_menu a,
.widget_pages a,
.widget_recent_comments a,
.widget_recent_entries a,
.widget_rss a,
.widget_rss_links a,
.widget_tag_cloud a {
	box-shadow: none;
}

.widget_archive a:focus,
.widget_archive a:hover,
.widget_categories a:focus,
.widget_categories a:hover,
.widget_goodreads a:focus,
.widget_goodreads a:hover,
.widget_jetpack_display_posts_widget .jetpack-display-remote-posts h4 a:focus,
.widget_jetpack_display_posts_widget .jetpack-display-remote-posts h4 a:hover,
.widget_links a:focus,
.widget_links a:hover,
.widget_meta a:focus,
.widget_meta a:hover,
.widget_nav_menu a:focus,
.widget_nav_menu a:hover,
.widget_pages a:focus,
.widget_pages a:hover,
.widget_recent_comments a:focus,
.widget_recent_comments a:hover,
.widget_recent_entries a:focus,
.widget_recent_entries a:hover,
.widget_rss a:focus,
.widget_rss a:hover,
.widget_rss_links a:focus,
.widget_rss_links a:hover,
.widget_tag_cloud a:focus,
.widget_tag_cloud a:hover {
	box-shadow: 0 2px 0 0;
}

a img {
	vertical-align: middle;
}

/*--------------------------------------------------------------
## Main Navigation
--------------------------------------------------------------*/
.site-menu {
	display: none;
	-webkit-flex: 0 1 100%;
	-ms-flex: 0 1 100%;
	flex: 0 1 100%;
}

.site-menu.toggled-on {
	display: block;
}

.main-navigation .primary-menu {
	border-bottom: 2px solid;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
}

.main-navigation.toggled-on ul,
.main-navigation.toggled-on ul.toggled-on {
	display: block;
}

.main-navigation.toggled-on ul ul {
	display: none;
}

.main-navigation .menu-item-has-children > a {
	margin-right: 62px;
}

.main-navigation li {
	border-top: 2px solid;
	position: relative;
}

.main-navigation a {
	display: block;
	padding: 11px 0;
}

.main-navigation ul ul {
	background: #303030;
	margin-left: 24px;
}

/* Menu Toggle */
.menu-toggle {
	font-weight: bold;
	margin-top: 24px;
	text-transform: uppercase;
}

.menu-toggle:active,
.menu-toggle:focus {
	background: #fff;
	border-color: #fff;
	color: #303030;
}

.menu-toggle:active:hover,
.menu-toggle:focus:hover {
	background: #a0a0a0;
	border-color: #a0a0a0;
}

/* Dropdown Toggle */
.dropdown-toggle {
	background: transparent;
	border: 2px solid;
	color: currentcolor;
	height: 50px;
	padding: 0;
	position: absolute;
	right: 0;
	text-transform: none;
	top: -2px;
	width: 50px;
}

.dropdown-toggle:focus,
.dropdown-toggle:hover {
	background: #fff;
	border-color: #fff;
	color: #303030;
}

.dropdown-toggle:before {
	border-style: solid;
	border-width: 2px 2px 0 0;
	content: "";
	display: inline-block;
	height: 8px;
	margin-top: -4px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
	vertical-align: middle;
	width: 8px;
}

.dropdown-toggle.toggled-on:before {
	margin-bottom: -4px;
	margin-top: 0;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/*--------------------------------------------------------------
## Pagination
--------------------------------------------------------------*/
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	clear: both;
	margin: 0;
	padding: 0;
}

.site-main .posts-navigation:before,
.site-main .post-navigation:before {
	background: #202020;
	content: "";
	display: block;
	height: 4px;
	margin-bottom: 24px;
	width: 24px;
}

.site-main .comment-navigation a,
.site-main .posts-navigation a,
.site-main .post-navigation a {
	border: 2px solid;
	display: inline-block;
	padding: 4px 10px;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous {
	float: left;
	margin-bottom: 24px;
	width: 49%;
	width: calc(50% - 12px);
}

.comment-navigation .nav-next,
.posts-navigation .nav-next {
	float: right;
	margin-bottom: 24px;
	text-align: right;
	width: 49%;
	width: calc(50% - 12px);
}

.post-navigation .nav-links {
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.post-navigation .nav-previous,
.post-navigation .nav-next {
	margin-bottom: 24px;
}

.post-navigation .nav-previous {
	margin-left: 0;
	margin-right: auto;
}

.post-navigation .nav-next {
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	margin-left: auto;
	margin-right: 0;
	text-align: right;
}

.post-navigation .meta-nav,
.post-navigation .post-title {
	display: block;
}

.post-navigation .meta-nav {
	color: #a0a0a0;
	font-size: 13px;
	line-height: 1.3847;
	padding: 3px 0;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.comment-content:before,
.comment-content:after,
.comment-meta:before,
.comment-meta:after,
.entry-content:before,
.entry-content:after,
.entry-summary:before,
.entry-summary:after,
.hentry:before,
.hentry:after,
.nav-links:before,
.nav-links:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
}

.clear:after,
.comment-content:after,
.comment-meta:after,
.entry-content:after,
.entry-summary:after,
.hentry:after,
.nav-links:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0;
}

.widget-area:before,
.widget:not(:first-of-type):before,
.page-content .widget:before {
	background: #202020;
	content: "";
	display: block;
	height: 4px;
	margin-bottom: 24px;
	width: 24px;
}

/* Calendar */
.widget_calendar td,
.widget_calendar th {
	line-height: 2.35;
	padding: 0;
	text-align: center;
}

.widget_calendar caption {
	font-weight: bold;
	margin-bottom: 24px;
}

.widget_calendar tbody a {
	background-color: #202020;
	display: block;
	font-weight: bold;
}

.widget_calendar tbody a:hover,
.widget_calendar tbody a:focus {
	background-color: transparent;
	color: #fff;
}

/* Lists */
.widget_archive ul,
.widget_categories ul,
.widget_links ul,
.widget_meta ul,
.widget_nav_menu ul,
.widget_pages ul,
.widget_recent_comments ul,
.widget_recent_entries ul,
.widget_rss ul {
	border-bottom: 2px solid;
	list-style: none;
	margin: 0 0 24px;
}

.widget_archive li,
.widget_categories li,
.widget_links li,
.widget_meta li,
.widget_nav_menu li,
.widget_pages li,
.widget_recent_comments li,
.widget_recent_entries li,
.widget_rss li {
	border-top: 2px solid;
	padding: 11px 0;
}

.widget_categories .children,
.widget_nav_menu .sub-menu,
.widget_pages .children {
	border-bottom: 0;
	margin-bottom: -11px;
	margin-top: 11px;
	padding-left: 24px;
}

.widget_recent_entries .post-date {
	color: #a0a0a0;
	display: block;
	font-size: 13px;
	line-height: 1.3847;
	padding: 3px 0;
}

/* RSS */
.widget_rss .widget-title img {
	display: none;
}

.widget_rss cite,
.widget_rss .rssSummary,
.widget_rss .rss-date {
	color: #a0a0a0;
	display: block;
	font-size: 13px;
	line-height: 1.3847;
	padding: 3px 0;
}

/* Search */
.widget_search .search-submit {
	display: none;
}

/* Tagcloud */
.widget_tag_cloud .tagcloud {
	padding-bottom: 24px;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Custom Logo
--------------------------------------------------------------*/
.custom-logo-link {
	display: block;
}

.custom-logo {
	max-height: 96px;
	width: auto;
}

.wp-custom-logo .site-title {
	margin-top: 12px;
}

/*--------------------------------------------------------------
## Posts & Pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: block;
}

.page-header:after {
	background: #202020;
	content: "";
	display: block;
	height: 4px;
	margin: 24px 0;
	width: 24px;
}

.page-header span {
	font-style: italic;
}

.taxonomy-description {
	color: #a0a0a0;
	margin-top: -18px;
}

.entry-header {
	clear: both;
	padding-bottom: 24px;
}

.entry-footer,
.entry-meta {
	color: #a0a0a0;
}

.entry-footer {
	font-size: 13px;
	line-height: 1.3847;
	margin-bottom: 24px;
}

.entry-footer > span {
	padding: 3px 0;
}

.entry-footer > span:last-of-type {
	margin-bottom: 24px;
}

.comments-link,
.edit-link,
.posted-on,
.tags-links {
	display: block;
}

.entry-title {
	margin-bottom: 0;
}

.entry-title + .entry-meta {
	margin-top: 6px;
}

.post-thumbnail {
	background: transparent;
	border: 0;
	clear: both;
	display: block;
	margin-bottom: 24px;
	position: relative;
}

.post-thumbnail img {
	display: block;
	margin: 0;
}

.archive:not([class*="jetpack-portfolio"]) .hentry + .hentry:before,
.blog .hentry + .hentry:before,
.search .hentry + .hentry:before,
.infinite-wrap .hentry:before {
	background: #202020;
	content: "";
	display: block;
	height: 4px;
	margin-bottom: 24px;
	width: 24px;
}

.more-link .meta-nav {
	display: none;
}

.page-links {
	margin: 0 0 24px;
}

.page-links a,
.page-links > span {
	background: #202020;
	color: #fff;
	display: inline-block;
	font-size: 13px;
	line-height: 1.8461538462;
	height: 1.8461538462em;
	margin: 0;
	text-align: center;
	width: 1.8461538462em;
}

.page-links a {
	box-shadow: none;
	color: #a0a0a0;
}

.page-links a:hover,
.page-links a:focus {
	background-color: transparent;
	color: #fff;
}

.page-links > .page-links-title {
	background: transparent;
	color: #a0a0a0;
	font-weight: bold;
	height: auto;
	padding-right: 0.5em;
	width: auto;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-list {
	border-bottom: 2px solid;
	list-style: none;
	margin: 0 0 24px;
}

.comment-list .children {
	border-left: 2px solid;
	list-style: none;
	margin: 0;
	margin-left: 24px;
}

.comment-list .children > .comment {
	padding-left: 24px;
}

.comment-list .comment,
.comment-list .pingback,
.comment-list .trackback {
	border-top: 2px solid;
	padding-top: 24px;
}

.comment-list .pingback,
.comment-list .trackback {
	padding-bottom: 24px;
}

.no-comments {
	font-weight: bold;
}

.comment-respond:before,
.comments-title:before,
.no-comments:before {
	background: #202020;
	content: "";
	display: block;
	height: 4px;
	margin-bottom: 24px;
	width: 24px;
}

.comment .comment-respond:before {
	display: none;
}

.comment .comment-respond {
	margin-top: 26px;
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comment-meta {
	margin-bottom: 24px;
}

.comment-author .avatar {
	border-radius: 50%;
	float: left;
	margin-right: 6px;
	vertical-align: middle;
}

.comment-metadata {
	color: #a0a0a0;
	font-size: 13px;
	line-height: 1.3847;
	padding: 3px 0;
}

.comment-metadata .edit-link {
	padding-top: 6px;
}

.fn {
	font-weight: normal;
}

.reply {
	margin-bottom: -2px;
	text-align: right;
}

.reply a {
	border: 2px solid;
	display: inline-block;
	padding: 4px 10px;
}

.comment-reply-title small {
	float: right;
	font-weight: normal;
	padding: 3px 0;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

embed,
iframe,
object,
video,
.fb_iframe_widget,
.wp-audio-shortcode {
	margin-bottom: 24px;
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 24px;
	max-width: auto;
}

.wp-caption:not(.large-element) {
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 12px 0 0;
}

.wp-caption-text {
	color: #a0a0a0;
	font-size: 13px;
	line-height: 1.3847;
	padding: 3px 0 0;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin: -12px 0 12px;
}

.gallery-item {
	display: inline-block;
	margin: 0;
	padding: 12px;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
# Jetpack
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Contact Form
--------------------------------------------------------------*/
.site-content .contact-form > div {
	margin-bottom: 24px;
}

.site-content .contact-form label {
	font-weight: normal;
}

.site-content .contact-form input[type="text"],
.site-content .contact-form input[type="email"],
.site-content .contact-form input[type="url"],
.site-content .contact-form textarea {
	margin-bottom: 0;
	width: 100%;
	max-width: 100%;
}

.site-content .contact-form label span {
	color: #a0a0a0;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.site .slideshow-window {
	background: transparent;
	border: 24px solid transparent;
	border-radius: 0;
	margin-bottom: 24px;
}

.site .slideshow-window.slideshow-black,
.site .slideshow-window.slideshow-white {
	border-color: transparent;
}

.site .slideshow-window.slideshow-black {
	background: rgba(0, 0, 0, 0.33);
}

.site .slideshow-window.slideshow-white {
	background: rgba(255, 255, 255, 0.5);
}

.site .slideshow-controls a,
.tiled-gallery-item > a {
	box-shadow: none;
}

.site .tiled-gallery {
	margin-bottom: 24px;
}

.site .tiled-gallery-caption {
	background: #303030;
	color: #a0a0a0;
	font-size: 13px;
	line-height: 1.3847;
	padding: 3px 0;
	text-indent: 3px;
}

.instagram-media {
	margin: 0 0 24px !important;
	width: 100% !important;
}

/*--------------------------------------------------------------
## Infinite Scroll
--------------------------------------------------------------*/
/* Infinite Footer */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	display: none;
}

.infinity-end.neverending .site-footer {
	display: block;
}

#infinite-footer {
	background: #303030;
	border-top: 2px solid;
	z-index: 9999;
}

#infinite-footer .container {
	background: transparent;
	border: 0;
	color: #fff;
	font-size: 13px;
	line-height: 1.3847;
	padding: 7px 0;
}

#infinite-footer .blog-info,
#infinite-footer .blog-credits {
	line-height: inherit;
	overflow: visible;
}

#infinite-footer .blog-credits,
#infinite-footer .blog-credits a,
#infinite-footer .blog-info a {
	color: #a0a0a0;
	display: inline-block;
	font-size: inherit;
	text-decoration: none;
}

#infinite-footer .blog-info a:hover,
#infinite-footer .blog-credits a:hover {
	color: #a0a0a0;
	box-shadow: 0 2px 0 0;
	text-decoration: none;
}

/* Infinite Handle */
#infinite-handle {
	padding-bottom: 24px;
}

#infinite-handle:before {
	background: #202020;
	content: "";
	display: block;
	height: 4px;
	margin-bottom: 24px;
	width: 24px;
}

#infinite-handle span {
	background: transparent;
	border-radius: 0;
	color: inherit;
	font-size: inherit;
	padding: 0;
}

#infinite-handle span button,
#infinite-handle span button:focus,
#infinite-handle span button:hover {
	border: 2px solid;
	padding: 4px 10px;
}

#infinite-handle span button:focus,
#infinite-handle span button:hover {
	color: #a0a0a0;
}

.post-type-archive-jetpack-portfolio #infinite-handle,
.tax-jetpack-portfolio-tag #infinite-handle,
.tax-jetpack-portfolio-type #infinite-handle {
	clear: both;
}

/* Infinite Loader */
.infinite-loader {
	height: 64px;
	margin-bottom: 24px;
}

.infinite-loader:before {
	background: #202020;
	content: "";
	display: block;
	height: 4px;
	margin-bottom: 24px;
	width: 24px;
}

.infinite-loader .spinner {
	left: 12px !important;
	top: 18px !important;
	z-index: 9998 !important;
}

.infinite-loader .spinner div {
	background: currentcolor !important;
	color: #fff;
}

.post-type-archive-jetpack-portfolio .infinite-loader,
.tax-jetpack-portfolio-tag  .infinite-loader,
.tax-jetpack-portfolio-type  .infinite-loader {
	clear: both;
}

/*--------------------------------------------------------------
## PollDaddy
--------------------------------------------------------------*/
.PDS_Poll {
	margin-bottom: 24px;
}

/*--------------------------------------------------------------
## Portfolio
--------------------------------------------------------------*/
.custom-archive-jetpack-portfolio .content-area,
.page-template-portfolio-page .content-area,
.single-jetpack-portfolio .content-area {
	float: none;
	width: 100%;
}

.portfolio-archive-content {
	margin-bottom: 24px;
}

.portfolio-wrapper {
	clear: both;
}

.jetpack-portfolio {
	margin-bottom: 24px;
	max-width: 100%;
}

.single .jetpack-portfolio {
	margin-bottom: 0;
}

.jetpack-portfolio .image-link {
	border: 2px solid #fff;
	color: #fff;
	display: block;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
	width: 100%;
}

.jetpack-portfolio.hover .image-link,
.jetpack-portfolio.hover .image-link:hover {
	background: rgba(0, 0, 0, 0.6);
	opacity: 1;
}

.project-thumbnail img {
	display: block;
}

.project-info {
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	left: 0;
	opacity: 0;
	overflow: hidden;
	padding: 12px;
	position: absolute;
	text-align: center;
	top: 0;
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
	width: 100%;
}

.jetpack-portfolio.hover .project-info {
	opacity: 1;
}

.project-info .entry-title {
	font-size: 20px;
	line-height: 1.5;
	margin: 0;
}

.project-info .entry-header {
	padding: 0;
}

.project-info .entry-header,
.project-info .entry-meta {
	position: relative;
}

.project-info .entry-header + .entry-meta {
	margin-top: 6px;
}

.project-info .entry-meta {
	font-size: 13px;
	line-height: 1.3847;
}

.jetpack-portfolio:not(.has-post-thumbnail) .image-link {
	border: 0;
}

.jetpack-portfolio.hover:not(.has-post-thumbnail) .image-link,
.jetpack-portfolio.hover:not(.has-post-thumbnail) .image-link:hover {
	background: transparent;
}

.jetpack-portfolio:not(.has-post-thumbnail) .project-info {
	border: 2px solid;
	opacity: 1;
	position: relative;
}

.jetpack-portfolio.hover:not(.has-post-thumbnail) .project-info {
	border-color: #a0a0a0;
}

.jetpack-portfolio:not(.has-post-thumbnail) .project-info .entry-title a,
.jetpack-portfolio:not(.has-post-thumbnail) .project-info .entry-title a:focus,
.jetpack-portfolio:not(.has-post-thumbnail) .project-info .entry-title a:hover {
	color: inherit;
}

/* Shortcode */
.site .portfolio-entry-title + .portfolio-entry-meta {
	margin-top: 6px;
}
.site .portfolio-featured-image + .portfolio-entry-title {
	margin-top: 24px;
}

.site .portfolio-entry-content {
	margin: 24px 0 0;
}

.site .portfolio-entry {
	margin: 0 0 24px;
}

.site .portfolio-entry-meta span,
.site .portfolio-entry-meta a {
	font-size: 13px;
	line-height: 1.3847;
}

.portfolio-entry-meta {
	color: #a0a0a0;
}

/*--------------------------------------------------------------
## Recipes
--------------------------------------------------------------*/
.site-content .jetpack-recipe {
	margin: 0 0 24px;
	padding: 24px 24px 0;
}

.site-content .jetpack-recipe blockquote {
	margin-left: 0;
}

.site-content .jetpack-recipe ol,
.site-content .jetpack-recipe ul {
	list-style-position: inside;
}

.site-content .jetpack-recipe-title {
	padding: 0;
	margin: 0 auto 24px;
	border-bottom: 0;
}

.site-content .jetpack-recipe-content br {
	display: none;
}

.site-content .jetpack-recipe .jetpack-recipe-meta {
	color: #a0a0a0;
	font-size: inherit;
	line-height: inherit;
	overflow: inherit;
}

.site-content .jetpack-recipe-meta:before,
.site-content .jetpack-recipe-meta:after {
	content: "";
	display: table;
}

.site-content .jetpack-recipe-meta:after {
	clear: both;
}

/*--------------------------------------------------------------
## Responsive Videos
--------------------------------------------------------------*/
.jetpack-video-wrapper {
	margin: 0 0 24px;
}

.jetpack-video-wrapper:empty {
	display: none;
}

.jetpack-video-wrapper video {
	margin-bottom: 0;
}

/*--------------------------------------------------------------
## Sharedaddy
--------------------------------------------------------------*/
.hentry #jp-post-flair {
	padding: 0;
}

.sd-like.jetpack-likes-widget-wrapper,
.sd-rating,
.sd-sharing-enabled:not(#jp-post-flair) {
	margin: 0;
}

.sd-rating + .sd-sharing-enabled:not(#jp-post-flair) {
	margin-top: -24px;
}

.sharedaddy:not(#jp-post-flair):last-of-type {
	margin-bottom: 24px;
}

.sd-like.jetpack-likes-widget-wrapper iframe {
	margin-bottom: 0;
}

.hentry div.sd-rating h3.sd-title,
.hentry div.sharedaddy h3.sd-title {
	color: #a0a0a0;
	font-family: Karla, sans-serif;
	font-size: inherit;
	font-weight: normal;
	line-height: inherit;
	margin: 0;
}

.hentry div.sharedaddy h3.sd-title {
	font-size: 13px;
	line-height: 1.3847;
	padding: 6px 0;
}

.hentry div.sharedaddy .sd-content ul {
	margin-bottom: 6px !important;
}

.hentry div.sharedaddy .sd-content .inner ul {
	margin-bottom: 0 !important;
}

div#jp-relatedposts {
	clear: both;
	margin: 0;
	padding: 0 0 24px;
	position: relative;
	width: 100%;
}

div#jp-relatedposts:before {
	background: #202020;
	content: "";
	display: block;
	height: 4px;
	margin-bottom: 24px;
	width: 24px;
}

div#jp-relatedposts a:focus {
	background: transparent;
}

.hentry div#jp-relatedposts h3.jp-relatedposts-headline {
	font-size: 20px;
	font-weight: bold;
	line-height: 1.5;
	margin-bottom: 24px;
}

.hentry div#jp-relatedposts h3.jp-relatedposts-headline em {
	font-weight: inherit;
}

.pd-rating {
	color: #a0a0a0;
	padding: 4px 0;
}

.comment .pd-rating,
.hentry .pd-rating,
.hentry .sd-sharing .share-count {
	line-height: 1 !important;
}

.comment .pd-rating,
.hentry .pd-rating {
	margin-bottom: 24px;
}

.hentry .post-likes-widget {
	margin-bottom: 24px;
	position: inherit !important;
	top: auto !important;
}

.comments-area .comment-likes {
	height: 1.5em;
}

.comments-area .comment-likes .comment-like-link {
	box-shadow: none;
	line-height: 1.5;
}

.comments-area .comment-like-link:before,
.comments-area .comment-likes-overlay span.icon {
	line-height: 1.2;
}

.comments-area .comment-likes .comment-like-feedback {
	color: #a0a0a0;
	font-size: 13px;
	line-height: 1.3847;
	opacity: 1;
	margin-left: 0.5em;
	padding: 6px 0;
}

.hentry .pd-rating + br,
.hentry div.sharedaddy h3.sd-title:before,
.hentry div#jp-relatedposts h3.jp-relatedposts-headline em:before {
	display: none;
}

.hentry div#jp-relatedposts div.jp-relatedposts-items {
	width: 100%;
}

.hentry div#jp-relatedposts div.jp-relatedposts-items p {
	font-size: 16px;
	line-height: 1.5;
}

.hentry div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post,
.hentry div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post-context {
	opacity: 1;
}

.hentry div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post {
	padding: 0;
	margin-bottom: 24px;
	width: 100%;
}

.hentry div#jp-relatedposts div.jp-relatedposts-items.jp-relatedposts-items-minimal .jp-relatedposts-post {
	margin: 0 0 24px;
	padding: 0;
	width: 100%;
}

.hentry div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post:last-of-type,
.hentry div#jp-relatedposts div.jp-relatedposts-items.jp-relatedposts-items-minimal .jp-relatedposts-post:last-of-type {
	margin-bottom: 0;
}

.hentry div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post-context {
	color: #a0a0a0;
	font-size: 13px;
	line-height: 1.3847;
	padding: 6px 0;
}

.hentry div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post-context:empty {
	display: none;
}

.hentry div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post-title {
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0;
	line-height: 1.5;
}

.hentry div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post-title a {
	border-bottom: 0;
	font-weight: inherit;
	text-decoration: none !important;
}

.hentry div#jp-relatedposts div.jp-relatedposts-items span.jp-relatedposts-post-title {
	font-size: inherit;
	line-height: inherit;
}

.hentry div#jp-relatedposts div.jp-relatedposts-post-thumbs .jp-relatedposts-post-title {
	padding: 12px 0 0;
}

.hentry div#jp-relatedposts .jp-relatedposts-post-a {
	border-bottom: 0;
}

.hentry .pd-rating {
	line-height: 1;
}

/*--------------------------------------------------------------
## Social Menu
--------------------------------------------------------------*/
.site .jetpack-social-navigation ul {
	margin: 0 0 12px;
}

.site .jetpack-social-navigation li {
	font-size: 16px;
	height: 32px;
	margin: 0 3px;
	text-align: center;
	width: 32px;
}

.site .jetpack-social-navigation li:first-child {
	margin-left: 0;
}

.site .jetpack-social-navigation li:last-child {
	margin-right: 0;
}

.site .jetpack-social-navigation a {
	background: #202020;
	border-radius: 50%;
	display: block;
	height: 32px;
	line-height: 1;
	padding: 7px;
	width: 32px;
}

.site .jetpack-social-navigation a:hover,
.site .jetpack-social-navigation a:focus {
	background: transparent;
	box-shadow: none;
	color: #fff;
}

/*--------------------------------------------------------------
## Widgets
--------------------------------------------------------------*/
/* Contact Info */
.widget_contact_info .contact-map {
	border: 2px solid;
	margin-bottom: 12px;
	padding: 6px;
}

.widget_contact_info > div:last-of-type {
	margin-bottom: 24px;
}

/* Display WordPress Posts */
.widget_jetpack_display_posts_widget .jetpack-display-remote-posts {
	margin: 0;
}

.widget_jetpack_display_posts_widget .jetpack-display-remote-posts h4 {
	font-size: 16px;
	line-height: 1.5;
	margin: 0 auto 24px;
	padding: 0;
}

.widget_jetpack_display_posts_widget .jetpack-display-remote-posts h4 a {
	font-weight: normal;
}

.widget_jetpack_display_posts_widget .jetpack-display-remote-posts img {
	margin-bottom: 24px;
	margin-top: -18px;
}

.widget_jetpack_display_posts_widget .jetpack-display-remote-posts p {
	color: #a0a0a0;
	font-size: 13px;
	line-height: 1.3847 !important;
	margin: 0 0 24px !important;
	padding: 3px 0;
}

.widget_jetpack_display_posts_widget .jetpack-display-remote-posts p {
	margin-top: -18px !important;
}

/* Goodreads */
.widget_goodreads br,
.widget_goodreads center {
	display: none;
}

.widget_goodreads h2[class^="gr_custom_header"] {
	font-size: 16px;
	line-height: 1.5;
	margin: 0 auto 24px;
}

.widget_goodreads div[class^="gr_custom_title"] a {
	color: inherit;
	font-weight: normal;
}

.widget_goodreads div[class^="gr_custom_title"] a:focus,
.widget_goodreads div[class^="gr_custom_title"] a:hover {
	color: #a0a0a0;
}

.widget_goodreads div[class^="gr_custom_container"] {
	background: transparent;
	border: 0;
	border-radius: 0;
	color: inherit;
	margin-bottom: 24px;
	padding: 0;
}

.widget_goodreads div[class^="gr_custom_each_container"] {
	border-bottom: 0;
	border-top: 2px solid;
	padding: 11px 0;
	margin: 0;
}

.widget_goodreads div[class^="gr_custom_each_container"]:last-of-type {
	border-bottom: 2px solid;
}

.widget_goodreads div[class^="gr_custom_title"] {
	font-weight: bold;
}

.widget_goodreads div[class^="gr_custom_author"] {
	color: #a0a0a0;
	font-size: 13px;
	line-height: 1.3847;
	padding: 3px 0;
}

.widget_goodreads div[class^="gr_custom_container"] div[class^="gr_custom_author"] a {
	border-bottom: 0;
	color: inherit;
}

.widget_goodreads center a {
	border-bottom: 0;
}

/* Google+ Badge */
.widget_googleplus_badge iframe {
	margin-bottom: 24px !important;
}

/* Gravatar Profile */
.widget-grofile .grofile-thumbnail {
	border: 2px solid;
	margin-bottom: 24px;
	padding: 6px;
}

.widget-grofile h4 {
	margin: 0 0 24px !important;
}

.widget-grofile .grofile-full-link {
	display: inline-block;
}

/* Image */
.widget_image .jetpack-image-container {
	margin-bottom: 24px;
}

.widget_image .jetpack-image-container img {
	vertical-align: middle;
}

.widget_image .jetpack-image-container .wp-caption {
	margin-bottom: 0;
}

.widget_image .jetpack-image-container .wp-caption-text {
	padding-bottom: 3px;
}

/* RSS Links */
.widget_rss_links ul {
	border-bottom: 2px solid;
	list-style: none;
	margin-left: 0;
}

.widget_rss_links li {
	border-top: 2px solid;
	padding-bottom: 11px;
	padding-top: 11px;
}

.widget_rss_links a {
	border-bottom: 0;
}

.widget_rss_links p {
	border-top: 2px solid;
	margin-bottom: 11px;
	padding-top: 11px;
}

.widget_rss_links p:last-of-type {
	border-bottom: 2px solid;
	margin-bottom: 24px;
	padding-bottom: 11px;
}

.widget_rss_links p a + a {
	margin-left: 11px;
}

.widget_rss_links img {
	vertical-align: middle;
}

/* Social Media Icons */
.widget_wpcom_social_media_icons_widget ul {
	margin-bottom: 18px;
}

.site .widget_wpcom_social_media_icons_widget li {
	display: inline-block;
	margin: 0 6px 6px 0;
}

.widget_wpcom_social_media_icons_widget a {
	background: #202020;
	border-radius: 50%;
	box-shadow: none;
	padding: 8px;
}

.widget_wpcom_social_media_icons_widget a:focus,
.widget_wpcom_social_media_icons_widget a:hover {
	color: inherit;
	background: transparent;
}

/* Twitter Timeline */
.widget_twitter_timeline iframe {
	margin-bottom: 24px !important;
}

/*--------------------------------------------------------------
# Eventbrite
--------------------------------------------------------------*/
.eventbrite-event .entry-header span {
	padding-right: 12px;
}

.eventbrite-event .entry-header span:last-of-type {
	padding-right: 0;
}

/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## x >= 600px
--------------------------------------------------------------*/
@media screen and (min-width: 600px) {

	/* Layout */
	#page {
		width: 80%;
		width: calc(100% - 96px);
	}

	.site-header {
		margin-bottom: 48px;
	}

	.site-branding {
		margin-top: 48px;
	}

	.site-footer {
		padding-bottom: 48px;
	}

	.site-footer:before {
		margin-bottom: 48px;
	}

	.header-image {
		margin-top: 48px;
	}

	/* Navigation */
	.menu-toggle {
		margin-top: 48px;
	}

	.site-main .comment-list + .comment-navigation,
	.site-main .posts-navigation,
	.site-main .post-navigation {
		margin-bottom: 24px;
	}

	.site-main .comment-list + .comment-navigation {
		margin-top: -24px;
	}

	.site-main .posts-navigation:before,
	.site-main .post-navigation:before {
		margin-bottom: 48px;
	}

	/* Content */
	.custom-logo {
		max-height: 112px;
	}

	.hentry,
	.page-content {
		margin-bottom: 24px;
	}

	.archive:not([class*="jetpack-portfolio"]) .hentry + .hentry:before,
	.blog .hentry + .hentry:before,
	.search .hentry + .hentry:before,
	.infinite-wrap .hentry:before {
		margin-bottom: 48px;
	}

	.page-header:after {
		margin: 48px 0;
	}

	.comment-respond:before,
	.comments-title:before,
	.no-comments:before {
		margin-bottom: 48px;
	}

	.comments-area {
		clear: both;
		padding-bottom: 24px;
	}

	.comment-list {
		margin-bottom: 48px;
	}

	/* Widgets */
	.widget {
		padding-bottom: 24px;
	}

	.page-content .widget:last-of-type {
		padding-bottom: 0;
	}

	.page-content .widget:first-of-type {
		padding-top: 24px;
	}

	.widget-area:before,
	.widget:not(:first-of-type):before,
	.page-content .widget:before {
		margin-bottom: 48px;
	}

	/* Jetpack */
	#infinite-handle {
		padding-bottom: 48px;
	}

	#infinite-handle:before {
		margin-bottom: 48px;
	}

	.infinite-loader {
		height: 88px;
		margin-bottom: 48px;
	}

	.infinite-loader:before {
		margin-bottom: 48px;
	}

	.portfolio-media,
	.portfolio-wrapper {
		padding-bottom: 24px;
	}

	.site .jetpack-portfolio-shortcode {
		margin-bottom: -24px;
	}

	.site .portfolio-entry {
		margin-bottom: 48px;
	}

	div#jp-relatedposts {
		padding-top: 24px;
	}

	div#jp-relatedposts:before {
		margin-bottom: 48px;
	}

}

/*--------------------------------------------------------------
## x >= 768px
--------------------------------------------------------------*/
@media screen and (min-width: 768px) {

	/* Layout */
	#page {
		margin: 0 auto;
		width: 672px;
	}

	body:not(.single-jetpack-portfolio):not(.search) .jetpack-portfolio.hentry {
		width: 324px;
	}

	/* Content */
	.custom-logo {
		max-height: 128px;
	}

}

/*--------------------------------------------------------------
## x >= 896px
--------------------------------------------------------------*/
@media screen and (min-width: 896px) {

	/* Layout */
	#page {
		width: 800px;
	}

	.content-area,
	.portfolio-media,
	.portfolio-projects {
		width: 516px;
	}

	body:not(.single-jetpack-portfolio):not(.search) .jetpack-portfolio.hentry {
		width: 246px;
	}

	.portfolio-content,
	.widget-area {
		width: 236px;
	}

	.portfolio-media,
	.portfolio-projects,
	.widget-area  {
		float: right;
	}

	body:not(.single-jetpack-portfolio):not(.search) .jetpack-portfolio.hentry,
	.content-area,
	.portfolio-content {
		float: left;
	}

	.site-description {
		display: block;
	}

	.site-header-wrapper {
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;
	}

	.site-footer-wrapper {
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.site-info {
		margin: 0 auto 0 0;
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1;
	}

	.jetpack-social-navigation {
		-webkit-order: 2;
		-ms-flex-order: 2;
		order: 2;
	}

	/* Navigation */
	.menu-toggle {
		display: none;
	}

	.dropdown-toggle,
	.main-navigation ul .dropdown-toggle.toggled-on,
	.menu-toggle {
		display: none;
	}

	.site-menu {
		display: block;
		-webkit-flex: 0 1 auto;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
	}

	.main-navigation .primary-menu {
		border-bottom: 0;
	}

	.main-navigation ul {
		display: block;
	}

	.main-navigation li {
		border: 0;
		float: left;
		margin: 0.1875em 12px;
		position: relative;
	}

	.main-navigation .primary-menu > li:first-child {
		margin-left: 0;
	}

	.main-navigation .primary-menu > li:last-child {
		margin-right: 0;
	}

	.main-navigation .menu-item-has-children > a:after {
		border-style: solid;
		border-width: 2px 2px 0 0;
		content: "";
		display: inline-block;
		height: 6px;
		margin-left: 0.5em;
		margin-top: -3px;
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
		-ms-transform: rotate(135deg);
		transform: rotate(135deg);
		vertical-align: middle;
		width: 6px;
	}

	.main-navigation ul ul .menu-item-has-children > a:after {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.main-navigation a {
		display: block;
	}

	.main-navigation .menu-item-has-children > a {
		margin-right: 0;
	}

	.main-navigation ul ul {
		border-style: solid;
		border-width: 2px 2px 0 2px;
		float: left;
		margin: 0;
		position: absolute;
		top: 100%;
		left: -999em;
		z-index: 99999;
	}

	.main-navigation ul ul ul {
		left: -999em;
		top: -2px;
	}

	.main-navigation ul ul a {
		padding-left: 12px;
		padding-right: 12px;
		width: 200px;
	}

	.main-navigation ul ul li {
		border-bottom: 2px solid;
		margin: 0;
	}

	.main-navigation ul li:hover > ul,
	.main-navigation ul li.focus > ul {
		left: auto;
	}

	.main-navigation ul ul li:hover > ul,
	.main-navigation ul ul li.focus > ul {
		left: 100%;
	}

	.main-navigation .current_page_item > a,
	.main-navigation .current-menu-item > a,
	.main-navigation .current_page_ancestor > a {
		font-weight: bold;
	}

	/* Widgets */
	.widget-area:before {
		display: none;
	}

	/* Content */
	.custom-logo {
		max-height: 144px;
	}

	/* Jetpack */
	.portfolio-content {
		margin-bottom: 24px;
	}

	.hentry div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post {
		float: left;
		margin-bottom: 0;
		width: 156px;
	}

	.hentry div#jp-relatedposts div.jp-relatedposts-items-visual .jp-relatedposts-post:nth-of-type(2) {
		margin-left: 24px;
		margin-right: 24px;
	}

	.site .jetpack-social-navigation ul {
		margin: 0;
	}

}

/*--------------------------------------------------------------
## x >= 1020px
--------------------------------------------------------------*/
@media screen and (min-width: 1020px) {

	/* Layout */
	#page {
		width: 924px;
	}

	.content-area,
	.portfolio-media,
	.portfolio-projects {
		width: 600px;
	}

	body:not(.single-jetpack-portfolio):not(.search) .jetpack-portfolio.hentry {
		width: 288px;
	}

	.portfolio-content,
	.widget-area {
		width: 276px;
	}

	/* Content */
	.custom-logo {
		max-height: 160px;
	}

	/* Jetpack */
	.hentry div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post {
		width: 184px;
	}

}

/*--------------------------------------------------------------
## x >= 1344px
--------------------------------------------------------------*/
@media screen and (min-width: 1344px) {

	/* Layout */
	#page {
		width: 1248px;
	}

	.content-area,
	.large-element,
	.portfolio-media,
	.portfolio-projects,
	.post-thumbnail {
		width: 924px;
	}

	body:not(.page) .hentry:not(.jetpack-portfolio) .entry-content,
	.hentry .entry-summary {
		float: right;
		width: 600px;
	}

	body:not(.page) .hentry:not(.jetpack-portfolio) .entry-footer,
	.search .hentry .entry-footer {
		float: left;
		text-align: right;
		width: 276px;
	}

	body:not(.single-jetpack-portfolio):not(.search) .jetpack-portfolio.hentry {
		width: 292px;
	}

	.portfolio-content,
	.widget-area {
		width: 276px;
	}

	.large-element {
		display: block;
		margin-left: -324px;
		max-width: 924px;
	}

	.archive:not([class*="jetpack-portfolio"]) .hentry + .hentry:before,
	.blog .hentry + .hentry:before,
	.search .hentry + .hentry:before,
	.infinite-wrap .hentry:before,
	body:not(.page) .hentry:not(.jetpack-portfolio) .entry-meta,
	body:not(.page) .hentry:not(.jetpack-portfolio) .entry-title,
	.search .hentry .entry-meta,
	.search .hentry .entry-title,
	body:not(.page) .comments-area {
		margin-left: 324px;
	}

	div#jp-relatedposts {
		padding-left: 324px;
	}

	/* Content */
	.custom-logo {
		max-height: 176px;
	}

	.entry-footer {
		margin-bottom: 0;
	}

}